html {
    background-color: #000;
}
.CategoriesList {
    background-color: #fec123;
    margin-left: 20%;
    margin-right: 20%;
}

.VideoContainer {
    background-color: #fec123;
    margin: 10px;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.VidName {
    font-size: 25px;
    height: 50px;
    border-radius: 20px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
