.UserProfileContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.UserName {
    font-size: 200%;
    color: #fec123;
    font-style: italic;
    text-align: center;
}

.ProfilePicture {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: solid #201F1D thin;
    background-color: #fec123;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.UserLinks {
    margin-top: 9.5%;
    font-size: 120%;
    color: #fec123;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}