
.UserProfileContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 300%;
    background-color: black;
}

.UserName {
    font-size: 200%;
    color: #fec123;
    font-style: italic;
    text-align: center;
}

.ProfilePicture {
    width: 120px;
    height: 120px;
    margin-top: 6%;
    margin-left: 20%;
    margin-right: auto;
    border-radius: 50%;
    border: solid #201F1D thin;
    background-color: #fec123;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.UserLinks {
    margin-top: 9.5%;
    font-size: 120%;
    color: #fec123;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.showing {
    position: relative;
    bottom: 0;
    left: 0;
    right: 100%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .2s ease;
}
.hidden {
    position: relative;
    bottom: 0;
    left: 0;
    right: 100%;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .2s ease;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
}

.buttonPlus {
    background-color: black;
    color:#fec123;
    padding-top:0px;
    font-weight: bold;
    font-size: 55px;
    display: flex;
    flex-direction: column;
}

.buttonMinus {
    color:#fec123;
    padding-top: 0px;
    padding-right:15px;
    font-weight: bold;
    font-size: 55px;
}


