.UserProfileContainer {
    background: cadetblue;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0.5;
}


.ProfilePicture {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

